/* Icon styles */
svg {
    width: 20px;
    cursor: pointer;
}

.icon-cart {
    position: relative;
}

/* .icon-cart span {
    position: absolute;
    background-color: orange;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    top: 50%;
    right: -20px;
} */